/* HEADER START */
.site-header {
    background-color: var(--header-bgcolor);
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
    box-shadow: 0px 2px 4px #0000000e;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 23px 0px 24px 0px;
}

.header-link {
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
}
.header-link-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.header-maps-link{
    font-size: 20px;
    color: var(--text-color);
    text-shadow: 4px 4px 5px var(--text-color);
    &:hover{
        color: var(--text-color);
    }
}
.header-btn {
    display: flex;
    align-items: center;
    @extend %button-unstyle;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: var(--text-color);

    &::before {
        width: 15px;
        height: 14px;
        margin-right: 10px;
        background-image: url("../images/moon-icon.svg");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
}
.title-time {
    width: 200px;
    padding: 10px;
    text-align: center;
    font-size: 27px;
    color: var(--text-color);
    background-color: var(--header-bgcolor);
    border: 5px solid var(--text-color);
    border-radius: 10px;
}
@media only screen and (min-width: 578px) {
    .header-link {
        font-size: 24px;
        line-height: 33px;
    }

    .header-btn {
        font-size: 16px;
        line-height: 22px;
    }
}

/* HEADER END */